.App {
    text-align: center;
    margin: 20px;
    min-height: 100vh;
    background: linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container, .task-list, .filter-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    margin: 20px;
    width: 80%;
    max-width: 600px;
}

.input-container input,
.input-container textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    color: #333;
    outline: none;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    background-color: #ffffff;
    color: #333;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #333;
    color: #ffffff;
}

.task-list {
    margin-top: 20px;
}

.task {
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 10px 0;
    padding: 15px;
    text-align: left;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}

.task h3 {
    margin: 0;
    font-size: 18px;
}

.task p {
    margin: 5px 0 10px 0;
}

.task-actions button {
    margin-right: 10px;
}

@media (max-width: 600px) {
    .input-container, .task-list, .filter-container {
        width: 95%;
    }
}